USE [NorthWindDW]
GO
/****** Object:  Table [dbo].[Dim Customer]    Script Date: 10/1/2026 10:25:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim Customer](
	[CustomerID] [nvarchar](5) NULL,
	[CompanyName] [nvarchar](40) NULL,
	[ContactName] [nvarchar](30) NULL,
	[ContactTitle] [nvarchar](30) NULL,
	[Address] [nvarchar](60) NULL,
	[City] [nvarchar](15) NULL,
	[Region] [nvarchar](15) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Country] [nvarchar](15) NULL,
	[Phone] [nvarchar](24) NULL,
	[Fax] [nvarchar](24) NULL,
	[CustomerKey] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim Employee]    Script Date: 10/1/2026 10:25:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim Employee](
	[EmployeeID] [int] NULL,
	[LastName] [nvarchar](20) NULL,
	[FirstName] [nvarchar](10) NULL,
	[Title] [nvarchar](30) NULL,
	[TitleOfCourtesy] [nvarchar](25) NULL,
	[BirthDate] [datetime] NULL,
	[HireDate] [datetime] NULL,
	[Address] [nvarchar](60) NULL,
	[City] [nvarchar](15) NULL,
	[Region] [nvarchar](15) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Country] [nvarchar](15) NULL,
	[ReportsTo] [int] NULL,
	[EmployeeKey] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim Product]    Script Date: 10/1/2026 10:25:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim Product](
	[ProductID] [int] NULL,
	[ProductName] [nvarchar](40) NULL,
	[SupplierID] [int] NULL,
	[CategoryID] [int] NULL,
	[QuantityPerUnit] [nvarchar](20) NULL,
	[UnitPrice] [money] NULL,
	[UnitsInStock] [numeric](20, 0) NULL,
	[UnitsOnOrder] [numeric](20, 0) NULL,
	[ReorderLevel] [numeric](20, 0) NULL,
	[Discontinued] [numeric](20, 0) NULL,
	[CategoryName] [nvarchar](15) NULL,
	[ProductKey] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim ShipInfo]    Script Date: 10/1/2026 10:25:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim ShipInfo](
	[ShipVia] [int] NULL,
	[ShippedDate] [datetime] NULL,
	[ShipName] [nvarchar](40) NULL,
	[ShipAddress] [nvarchar](60) NULL,
	[ShipCity] [nvarchar](15) NULL,
	[ShipRegion] [nvarchar](15) NULL,
	[ShipPostalCode] [nvarchar](10) NULL,
	[ShipCountry] [nvarchar](15) NULL,
	[ShipInfo_Key] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShipInfo_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim Shipper]    Script Date: 10/1/2026 10:25:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim Shipper](
	[ShipperID] [int] NULL,
	[CompanyName] [nvarchar](40) NULL,
	[Phone] [nvarchar](24) NULL,
	[ShipperKey] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShipperKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim Supplier]    Script Date: 10/1/2026 10:25:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim Supplier](
	[SupplierID] [int] NULL,
	[CompanyName] [nvarchar](40) NULL,
	[ContactName] [nvarchar](30) NULL,
	[ContactTitle] [nvarchar](30) NULL,
	[Address] [nvarchar](60) NULL,
	[City] [nvarchar](15) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Country] [nvarchar](15) NULL,
	[Phone] [nvarchar](24) NULL,
	[SupplierKey] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim Time]    Script Date: 10/1/2026 10:25:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim Time](
	[OrderDate] [datetime] NULL,
	[RequiredDate] [datetime] NULL,
	[ShippedDate] [datetime] NULL,
	[OrderDay] [int] NULL,
	[OrderMonth] [int] NULL,
	[OrderQuater] [int] NULL,
	[OrderYear] [int] NULL,
	[ShippedDay] [int] NULL,
	[ShippedMonth] [int] NULL,
	[ShippedYear] [int] NULL,
	[ShippedQuater] [int] NULL,
	[DeliveryStatus] [nvarchar](15) NULL,
	[TimeKey] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TimeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact Orders]    Script Date: 10/1/2026 10:25:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact Orders](
	[OrderDate] [datetime] NULL,
	[RequiredDate] [datetime] NULL,
	[ShippedDate] [datetime] NULL,
	[Freight] [money] NULL,
	[EmployeeKey] [int] NULL,
	[ProductKey] [int] NULL,
	[CustomerKey] [int] NULL,
	[ShipperKey] [int] NULL,
	[ShipInfo_Key] [int] NULL,
	[SupplierKey] [int] NULL,
	[TimeKey] [int] NULL,
	[UnitPrice] [money] NULL,
	[Quantity] [numeric](20, 0) NULL,
	[Discount] [float] NULL,
	[Actual_Cost] [numeric](25, 4) NULL,
	[OrderKey] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fact Orders]  WITH CHECK ADD  CONSTRAINT [FK_Fact Orders_Dim Customer] FOREIGN KEY([CustomerKey])
REFERENCES [dbo].[Dim Customer] ([CustomerKey])
GO
ALTER TABLE [dbo].[Fact Orders] CHECK CONSTRAINT [FK_Fact Orders_Dim Customer]
GO
ALTER TABLE [dbo].[Fact Orders]  WITH CHECK ADD  CONSTRAINT [FK_Fact Orders_Dim Employee] FOREIGN KEY([EmployeeKey])
REFERENCES [dbo].[Dim Employee] ([EmployeeKey])
GO
ALTER TABLE [dbo].[Fact Orders] CHECK CONSTRAINT [FK_Fact Orders_Dim Employee]
GO
ALTER TABLE [dbo].[Fact Orders]  WITH CHECK ADD  CONSTRAINT [FK_Fact Orders_Dim Product] FOREIGN KEY([ProductKey])
REFERENCES [dbo].[Dim Product] ([ProductKey])
GO
ALTER TABLE [dbo].[Fact Orders] CHECK CONSTRAINT [FK_Fact Orders_Dim Product]
GO
ALTER TABLE [dbo].[Fact Orders]  WITH CHECK ADD  CONSTRAINT [FK_Fact Orders_Dim ShipInfo] FOREIGN KEY([ShipInfo_Key])
REFERENCES [dbo].[Dim ShipInfo] ([ShipInfo_Key])
GO
ALTER TABLE [dbo].[Fact Orders] CHECK CONSTRAINT [FK_Fact Orders_Dim ShipInfo]
GO
ALTER TABLE [dbo].[Fact Orders]  WITH CHECK ADD  CONSTRAINT [FK_Fact Orders_Dim Shipper] FOREIGN KEY([ShipperKey])
REFERENCES [dbo].[Dim Shipper] ([ShipperKey])
GO
ALTER TABLE [dbo].[Fact Orders] CHECK CONSTRAINT [FK_Fact Orders_Dim Shipper]
GO
ALTER TABLE [dbo].[Fact Orders]  WITH CHECK ADD  CONSTRAINT [FK_Fact Orders_Dim Supplier] FOREIGN KEY([SupplierKey])
REFERENCES [dbo].[Dim Supplier] ([SupplierKey])
GO
ALTER TABLE [dbo].[Fact Orders] CHECK CONSTRAINT [FK_Fact Orders_Dim Supplier]
GO
ALTER TABLE [dbo].[Fact Orders]  WITH CHECK ADD  CONSTRAINT [FK_Fact Orders_Dim Time] FOREIGN KEY([TimeKey])
REFERENCES [dbo].[Dim Time] ([TimeKey])
GO
ALTER TABLE [dbo].[Fact Orders] CHECK CONSTRAINT [FK_Fact Orders_Dim Time]
GO
